<div class="card"[ngClass]="img ? 'mt-3' : ''">
	<img src="{{img}}" class="card-img" />
	<div class="card-body" [ngClass]="img ? '' : 'mt-5'">
		<div class="form-group">
			<label>فلتر مكونات المنهج</label>
			<select class="form-control" [(ngModel)]="selectedLevel1"  (change)="handleLevelChange('level1', $event)">
				<option value="">اختر عنصر</option>
				<option *ngFor="let l1 of level1" [value]="l1.id">{{l1.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" [(ngModel)]="selectedLevel2" (change)="handleLevelChange('level2', $event)">
				<option value="">اختر عنصر</option>
				<option *ngFor="let l2 of level2" [value]="l2.id">{{l2.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" [(ngModel)]="selectedLevel3" (change)="handleLevelChange('level3', $event)">
				<option value="">اختر عنصر</option>
				<option *ngFor="let l3 of level3" [value]="l3.id">{{l3.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" [(ngModel)]="selectedLevel4" (change)="handleLevelChange('level4', $event)">
				<option value="">اختر عنصر</option>
				<option *ngFor="let l4 of level4" [value]="l4.id">{{l4.name}}</option>
			</select>
		</div>
		<div>
			<label for="result">التقييمات</label>
			<select id="result" class="form-control" size="4">
				<option (click)="handleItemClicked(eval)" *ngFor="let eval of evaluations" [value]="eval.id">{{eval.title}}</option>
			</select>
		</div>
	</div>
</div>