<div class="content">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-12 text-right">
        <h4>بيانات الجهات و رخص الأستخدام</h4>
      </div>
    </div>
    <form [formGroup]="form" class="row mt-4">
      <div class="col-lg-3 col-sm-6">
        <app-school-filter (itemDetails)="getItemDetails($event)" (filterChange)="filterSchoolList($event)" (addButton)="addSchool($event)" (editButton)="editSchool($event)" (deleteButton)="deleteSchool($event)"></app-school-filter>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <input type="text" formControlName="schoolName" class="form-control" placeholder="اسم المدرسة" />
            </div>
            <div class="form-group">
              <input type="text" formControlName="motherComp" class="form-control" placeholder="الشركة اﻷم" />
            </div>
            <div class="form-group">
              <select class="form-control" (change)="getCities($event)" formControlName="region">
                <option *ngFor="let geo of geoArray" value="geo">{{geo}}</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="city">
                <option  *ngFor="let city of citiesArray" value="city">{{city}}</option>
              </select>
            </div>
            <h5>بيانات المدرسة</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="district" placeholder="الحي">
              </li>
              <li class="list-group-item">
                <input type="number" class="form-control" formControlName="studentsNum" placeholder="إجمالي عدد الطلاب">
              </li>
              <li class="list-group-item">
                <input type="number" class="form-control" formControlName="classesNum" placeholder="عدد الفصول الدراسية">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="lowestStudyYear" placeholder="السنة الدرااسية اﻷدني">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="highestStudyYear" placeholder="السنة الدرااسية اﻷعلي">
              </li>
            </ul>
            <div>
              <h5>بيانات اﻷتصال</h5>
              <ul class="list-group">
                <li class="list-group-item">
                  <input type="text" class="form-control" formControlName="email" placeholder="الموفع اﻹلكتروني">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" formControlName="address" placeholder="العنوان">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" formControlName="gps" placeholder="GPS الموقع">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" formControlName="phone" placeholder="التلفون">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" formControlName="fax" placeholder="الفاكس">
                </li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">
          <h5>الموقع في التقسيم الشجري</h5>
            <div class="form-group">
              <select (change)="handleChange('level1', $event)" class="form-control" formControlName="level1">
                <option *ngFor="let item of level1; index as i" value="{{item}}">{{item}}</option>
              </select>
            </div>
            <div class="form-group">
              <select (change)="handleChange('level2', $event)" class="form-control" formControlName="level2">
                <option *ngFor="let item of level2; index as i" value="{{item}}">{{item}}</option>
              </select>
            </div>
            <div class="form-group">
              <select (change)="handleChange('level3', $event)" class="form-control" formControlName="level3">
                <option *ngFor="let item of level3; index as i" value="{{item}}">{{item}}</option>
              </select>
            </div>

            <h5>بيانات المسئول</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminName"  placeholder="اﻷسم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminJob" placeholder="الوظيفة">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminPhone" placeholder="الجوال">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminWhatsApp" placeholder="جوال الواتس اب">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminEmail" placeholder="اﻹيميل">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminUsername" placeholder="اسم المستخدم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="adminPassword" placeholder="كلمة السر">
              </li>
            </ul>
            <h5>بيانات اﻷدمن الرئيسي</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminName"  placeholder="اﻷسم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminJob" placeholder="الوظيفة">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminPhone" placeholder="الجوال">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminWhatsApp" placeholder="جوال الواتس اب">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminEmail" placeholder="اﻹيميل">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminUsername" placeholder="اسم المستخدم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" formControlName="nahjAdminPassword" placeholder="كلمة السر">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">            
            
            <div class="form-group">
              <label>الفصل الدراسي</label>
              <select class="form-control" formControlName="studyYears">
                <option selected>اﻷول 2018 / 2019</option>
                <option></option>
              </select>
            </div>
            <h5>بيانات الرخصة</h5>

            <div class="form-group">
              <input type="number" class="form-control" formControlName="studentsNum" placeholder="عدد الطلاب">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="classesNum" placeholder="عدد الفصول">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="teachersNum" placeholder="عدد المدرسات/ المشرفات">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="adminsNum" placeholder="عدد اﻷدمن">
            </div>
            
            <div class="form-group">
              <h5>المحتوي المرخص</h5>
              <ul class="content-list">
                <li>
                  مواد الواقع المعزز
                    <ul>
                      <li>
                        الوحدة الثالثة (أسرتي)

                        <ul>
                          <li>
                            قصة أعرف عنواني
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>