<div class="content">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-12 text-right">
        <h4>بيانات الجهات و رخص الأستخدام</h4>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-3 col-sm-6">
        <app-school-filter ></app-school-filter>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <input type="text" name="schoolName" placeholder="اسم المدرسة" class="form-control" />
            </div>
            <div class="form-group">
              <input type="text" name="companyName" placeholder="الشركة اﻷم" class="form-control" />
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>المنطقة</option>
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>المدينة</option>
                <option></option>
              </select>
            </div>
            <h5>بيانات المدرسة</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="الحي">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="إجمالي عدد الطلاب">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="عدد الفصول الدراسية">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="السنة الدرااسية اﻷدني">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="السنة الدرااسية اﻷعلي">
              </li>
            </ul>
            <div>
              <h5>بيانات اﻷتصال</h5>
              <ul class="list-group">
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="الموفع اﻹلكتروني">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="العنوان">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="GPS الموقع">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="التلفون">
                </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="الفاكس">
                </li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">
          <h5>الموقع في التقسيم الشجري</h5>
            <div class="form-group">
              <select class="form-control">
                <option selected>المدارس اﻷهلية</option>
                <option value="1">المدارس اﻷهلية</option>
                <option value="2">المدارس اﻷهلية</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>منطقة الرياض</option>
                <option value="1">منطقة الرياض</option>
                <option value="2">منطقة الرياض</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>المدارس المشتركة بالفعل</option>
                <option value="1">المدارس المشتركة بالفعل</option>
                <option value="2">المدارس المشتركة بالفعل</option>
              </select>
            </div>   
            <!-- <h5>الموقع في التقسيم الشجري</h5> -->
            

            <h5>بيانات المسئول</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="اﻷسم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="الوظيفة">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="الجوال">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="جوال الواتس اب">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="اﻹيميل">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="اسم المستخدم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="كلمة السر">
              </li>
            </ul>
            <h5>بيانات اﻷدمن الرئيسي</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="اﻷسم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="الوظيفة">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="الجوال">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="جوال الواتس اب">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="اﻹيميل">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="اسم المستخدم">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="كلمة السر">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">            
            
            <div class="form-group">
              <label>الفصل الدراسي</label>
              <select class="form-control">
                <option selected>اﻷول 2018 / 2019</option>
                <option></option>
              </select>
            </div>
            <h5>بيانات الرخصة</h5>
            <!-- <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="عدد الطلاب">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="عدد الفصول">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="عدد المدرسات/ المشرفات">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" placeholder="عدد اﻷدمن">
              </li>
            </ul> -->

            <div class="form-group">
              <input type="text" class="form-control" placeholder="عدد الطلاب">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="عدد الفصول">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="عدد المدرسات/ المشرفات">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="عدد اﻷدمن">
            </div>
            
            <div class="form-group">
              <h5>المحتوي المرخص</h5>
              <ul class="content-list">
                <li>
                  مواد الواقع المعزز
                    <ul>
                      <li>
                        الوحدة الثالثة (أسرتي)

                        <ul>
                          <li>
                            قصة أعرف عنواني
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>