$color : #0eb6e2;

.data{
	border: 1px solid $color;
	height: auto;
	padding: 10px;

	select[size]{
		background: #fafafa;
	}
}

.input-group{
	margin-bottom: 20px;
	width: 100%;
}
.btns{
	.btn{
		margin-right: 10px;
	}
}