<!-- <div class="fixed-action-btn">
  <a class="btn-floating bg-danger">
    <i id="menu" class="fa fa-bars"></i>
  </a>
  <ul>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="مكتبة التقييمات" routerLink="/evaluations" class="btn-floating bg-primary">
        <i class="fa fa-star-half-o"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="مكونات المنهج" routerLink="/levels" class="btn-floating bg-success">
        <i class="fa fa-book"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="بيانات الرخص" routerLink="/data" class="btn-floating bg-info">
        <i class="fa fa-file"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="تقسيمات الجهات" routerLink="/entities" class="btn-floating bg-danger">
        <i class="fa fa-arrows-alt"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="ثوابت النظام" routerLink="/" class="btn-floating bg-secondary">
        <i class="fa fa-thumb-tack"></i>
      </a>
    </li>
  </ul>
</div> -->


<nav class="navbar navbar-expand-lg navbar-dark">
  <ul class="navbar-nav mr-auto">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="/assets/images/profile.png" alt=""> heba <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a (click)="logout()" >خروج</a></li>
        </ul>
      </li>
    </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/">ثوابت النظام <i class="fa fa-thumb-tack"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/entities">تقسيمات الجهات <i class="fa fa-arrows-alt"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/data">بيانات الرخص <i class="fa fa-file"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/evaluations">مكتبة التقييمات <i class="fa fa-star-half-o"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/levels">مكونات المنهج <i class="fa fa-book"></i></a>
      </li>
    </ul>    
  </div>
</nav>



<div id="sidebar-wrapper">
  <div class="user-img">
    <img src="/assets/images/profile.png" />
    <p>طارق ابوسيف</p>
  </div>

  <ul class="sidebar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/">
        <i class="fa fa-thumb-tack fa-2x"></i>
        ثوابت النظام
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/entities">
        <i class="fa fa-arrows-alt fa-2x"></i>
        تقسيمات الجهات
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/data">
        <i class="fa fa-file fa-2x"></i>
        بيانات الرخص
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/evaluations">
        <i class="fa fa-star-half-o fa-2x"></i>
        مكتبة التقييمات
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/levels">
        <i class="fa fa-book fa-2x"></i>
        مكونات المنهج
      </a>
    </li>
  </ul>
</div>
