<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <app-card color="success" [data]='level1' title="المستوي الاول"></app-card> 
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-card color="primary" [data]='level2' title="المستوي الثاني"></app-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-card color="warning" [data]='level3' title="المستوي الثالث"></app-card>
      </div>
    </div>
  </div>
</div>