.header{
    background-image: url("/assets/images/h.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 190px;
    position: relative;
    z-index: 11;
}
.date{
	color: #555;
	margin-top: -32px;
    margin-bottom: 30px;
    font-size: 19px;
    position: absolute;
    top: 270px;
    z-index: 111;
    width: 80%;
    left: 4%;

    h4{
        font-size: 1.2rem;
    }
    .logout{
        cursor: pointer;
        color: #b68118;
    }
}

@media (min-width: 1800px) {
    .user-img p{
        font-size: 17px
    }
}
@media (max-width: 1780px) and (min-width: 1550px) {
    .date{
        top: 250px;
        font-size: 17px;
    }
}

@media (max-width: 1550px) and (min-width: 1400px) {
    .date{
        top: 230px;
        h4{
            font-size: 15px;
        }
    }
    .user-img{
        right: 55px;
    }
    .user-img img{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1399px){
    .date{
        top: 192px;
        h4{
            font-size: 13px;
        }
    }
    .user-img{
        top: 30px;
        right: 43px;
    }
    .user-img img{
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 1500px) {
    .header{
        display: block;
    }
    .date{
        display: none;
    }
}
