<div class="card">
	<img src="{{img}}" class="card-img">
	<div class="card-body" [ngClass]="img ? '' : 'mt-5'">
		<!-- <h4 class="text-center mb-3">{{title}}</h4> -->
		<ul class="list-group">
			<li class="list-group-item" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of data; index as i">{{item}}</li>
		</ul>
		<div class="input-group">
			<input type="text" class="form-control text-right" [disabled]="show" placeholder="{{data[0]}}">
			<span class="input-group-btn">
				<button [ngClass]="show ? 'btn-primary' : ' btn-info' " class="btn" (click)="handleChanges()" type="button">
					<i [ngClass]="show ? ' fa-edit' : '  fa-save' "  class="fa"></i>
				</button>
			</span>
	    </div>
		<div class="card-footer text-left">
			<button class="btn btn-danger mr-2" type="button"><i class="fa fa-close fa-fw"></i></button>
			<button class="btn btn-success mr-2" type="button"><i class="fa fa-plus fa-fw"></i></button>
		</div>
	</div>
</div>