<div class="content">
  <div class="container-fluid">
    <div class="row">
      <h2 class="col-12">التقسييم الشجري للجهات</h2>
      <div class="col-lg-3 col-sm-6">
        <app-card-list img="./assets/images/level1.png" [data]='level1' componentType="level1" (listItems)="getLevelData($event)" (saveButton)="addLevelOne($event)" (deleteButton)="deleteLevelOne($event)"></app-card-list> 
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card-list img="./assets/images/level2.png" [data]='level2' componentType="level2" (listItems)="getLevelData($event)" (saveButton)="addLevelTwo($event)" (deleteButton)="deleteLevelTwo($event)"></app-card-list>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card-list img="./assets/images/level3.png" [data]='level3' componentType="level3" (saveButton)="addLevelThree($event)" (deleteButton)="deleteLevelThree($event)"></app-card-list>
      </div>
    </div>
  </div>
</div>