<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <app-card-list img="./assets/images/level1.png" [data]='level1'></app-card-list> 
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card-list img="./assets/images/level2.png" [data]='level2'></app-card-list>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card-list img="./assets/images/level3.png" [data]='level3'></app-card-list>
      </div>
    </div>
  </div>
</div>