<div class="content">
	<div class="container-fluid"> 
		<div class="row">
			<h2 class="col-12">مكتبة التقييمات</h2>
			<div class="col-md-12">
				<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" routerLinkActive="active" id="mainData-tab" data-toggle="tab" href="#mainData">البيانات اﻷساسية</a>
				  	</li>
				  	<li class="nav-item" routerLinkActive="active">
				    	<a class="nav-link" id="questions-tab" data-toggle="tab" href="#questions">اﻷسئلة</a>
				  	</li>
				  	<li class="nav-item" routerLinkActive="active">
				   		<a class="nav-link" id="options-tab" data-toggle="tab" href="#options">خيارات التقييم</a>
				  	</li>
				</ul>
			</div>
			<div class="col-md-12">
				<div class="tab-content">
					<div class="tab-pane in active" id="mainData" role="tabpanel">
						<app-evaluation-data></app-evaluation-data>
					</div>
					<div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab">
						<app-evaluation-questions></app-evaluation-questions>
					</div>
					<div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<app-card-list img="./assets/images/evaluation_options.png" componentType="option" [data]="options" title="الخيارات"  (listItems)="getGrades($event)" (saveButton)="addNewEvaluationOption($event)" (deleteButton)="deleteEvaluationOption($event)"></app-card-list> 
							</div>
							<div class="col-lg-3 col-sm-6">
								<app-level-card-list [data]="grades" title="التقديرات" (saveButton)="addNewGrade($event)" (deleteButton)="deleteGrade($event)"></app-level-card-list>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
