<div class="content">
	<div class="container-fluid">
		<div class="row">
			<h2 class="col-12">حسابات أولياء الأمور</h2>
		</div>
		<div class="row"> 
			<div class="col-lg-4 col-md-6">
				<app-students-filter (itemClicked)="parentClicked($event)" [data]="parentsArr" title="اختيار ولي اﻷمر" img="./assets/images/parents.png"></app-students-filter>
			</div>
			<div class="col-lg-8">
				<form class="row" [formGroup]="form">
					<div class="col-lg-6 col-md-6">
						<div class="card">
							<div class="card-body mt-5">
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الأسم</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="name" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">اللقب</label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="nickname" >
											<option value="اللقب">اللقب</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الصلة بالطفل</label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="relation" >
											<option value="اب">اب</option>
											<option value="ام">ام</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">جوال 1 - اتصال</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="phone" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">جوال 2 - واتس</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="whatsApp" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">البريد اﻷلكتروني</label>
				                	<div class="col-md-8">
										<input type="email" class="form-control" formControlName="email" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الفصل الدراسي</label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="term">
											<option value="">اختر عنصر</option>
											<option *ngFor="let term of terms" [value]="term?.id">{{ term?.name }}</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الطلاب والفصل الدراسي</label>
				                	<div class="col-md-8">
										<textarea class="form-control" disabled formControlName="class"></textarea>
									</div>
								</div>					
							</div>					
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="card">
							<div class="card-body mt-5">
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">حالة الحساب</label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="accountStatus">
											<option value="active">نشط</option>
											<option value="inActive">غير نشط</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">اسم المستخدم</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="username" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">كلمة السر</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="password" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">بيان إضافي 1</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="extraInfoOne" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">بيان إضافي 2</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="extraInfoTwo" />
									</div>
								</div>	
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">بيان إضافي 3</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="extraInfoThree" />
									</div>
								</div>	
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">بيان إضافي 4</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="extraInfoFour" />
									</div>
								</div>
								<div class="card-footer text-left mt-3">
									<button *ngIf="!add" class="btn btn-success ml-2" (click)="addClicked()" type="button">
										<i class="fa fa-fw fa-plus"></i>
									</button>
									<button *ngIf="add" class="btn btn-success ml-2" (click)="addParent()" type="button">
										<i class="fa fa-fw fa-save"></i> 
									</button>
									<button *ngIf="!edit" class="btn btn-primary ml-2" (click)="editClicked()" type="button">
										<i class="fa fa-fw fa-edit"></i>
									</button>
									<button *ngIf="edit" class="btn btn-primary ml-2" (click)="editParent(item)" type="button">
										<i class="fa fa-fw fa-save"></i>
									</button>
									<button class="btn btn-danger" (click)="deleteParent(item)" type="button">
										<i class="fa fa-fw fa-close"></i>
									</button>
								</div>					
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>