<div class="content">
	<div class="container-fluid">
		<form class="row" [formGroup]="form" (ngSubmit)="handleChanges()">
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<img src="./assets/images/parents.png" class="card-img" />
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-4 col-form-label" for="">المستوي اﻷول</label>
							<div class="col-md-8">
								<select class="form-control" (change)="handleLevel1Change($event.target.value)">
									<option selected>فصول الأولاد</option>
									<option>فصول البنات</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label" for="">المستوي الثاني</label>
							<div class="col-md-8">
								<select class="form-control" (change)="handleLevel2Change($event.target.value)">
									<option selected>KG2 - D</option>
									<option>KG2 - E</option>
									<option>KG2 - F</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label" for="">المستوي الثالث</label>
							<div class="col-md-8">
								<select class="form-control" (change)="handleLevel3Change($event.target.value)">
									<option selected>الجميع</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="بحث باﻷسم" (change)="SearchByName($event.target.value)" />
						</div>
						<div>
							<select class="form-control" size="6">
								<option selected>خديجة الجابر</option>
								<option>أمل العيسي</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-body mt-5">
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">الأسم</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="name" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">اللقب</label>
		                	<div class="col-md-8">
								<select class="form-control" formControlName="nickname" >
									<option selected></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">الوظيفة</label>
		                	<div class="col-md-8">
								<select class="form-control" formControlName="job" >
									<option selected></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">جوال 1 - اتصال</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="phone1" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">جوال 2 - واتس</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="phone2" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">البريد اﻷلكتروني</label>
		                	<div class="col-md-8">
								<input type="email" class="form-control" formControlName="email" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">اسم المستخدم</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="userName" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">كلمة السر</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="password" />
							</div>
						</div>						
					</div>					
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-body mt-5">
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">الفصل الدراسي</label>
		                	<div class="col-md-8">
								<select class="form-control" formControlName="term" >
									<option selected>الفصل اﻷول - 2019/2018</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">حالة الحساب</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="status" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label">الفصول</label>
		                	<div class="col-md-8">
								<select class="form-control" size="5" formControlName="class" >
									<option>KG2 - D</option>
									<option selected>KG2 - E</option>
									<option>KG2 - F</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="custom-control custom-checkbox mb-3 mt-3">
									<input class="custom-control-input" type="checkbox" id="add_evaluation" value="add_evaluation" formControlName="add_evaluation">
									<label class="custom-control-label" for="add_evaluation">إضافة تقييم</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="delete_evaluation" value="delete_evaluation" formControlName="delete_evaluation">
									<label class="custom-control-label" for="delete_evaluation">حذف تقييم</label>
								</div>
							</div>
							<div class="col-6">
								<div class="custom-control custom-checkbox mb-3 mt-3">
									<input class="custom-control-input" type="checkbox" id="add_data" formControlName="add_data">
									<label class="custom-control-label" for="add_data">إدخال بيانات التقييم</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="edit_data" formControlName="edit_data">
									<label class="custom-control-label" for="edit_data">تعديل بيانات التقييم</label>
								</div>
							</div>
						</div>
						<div class="card-footer text-left mt-3">
							<button class="btn btn-primary" type="button"><i class="fa fa-save fa-fw"></i></button>
							<button class="btn btn-danger mr-2" type="button"><i class="fa fa-close fa-fw"></i></button>
							<button class="btn btn-success mr-2" type="button"><i class="fa fa-plus fa-fw"></i></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>