.container-fluid{
	.card{
	  	max-width: 65%;
	  	margin: 0 auto;
		border: 4px solid #cad6d7;
		background-color: #eaefee;
		box-shadow: 0px 60px 100px -50px #333;
		-moz-box-shadow: 0px 60px 100px -50px #333;
		-webkit-box-shadow: 0px 60px 100px -50px #333;
		border-radius: 20px;
		transition: transform .2s;
		position: relative;
		top: 50px;
		margin-bottom: 50px;
		min-height: 590px;

		img{
			width: 75%;
		    margin: 0 auto;
		    position: relative;
		}

	    .card-body{
	      	text-align: center;
	      	margin-top: -30px;

	      	.form-check-label{
				margin-right: 20px;
			}

			.custom-checkbox{
				.custom-control-label::before{
					right: -1.5rem;
			    	left: 0;
				}
			}
	    }
	  }
	@media (min-width: 1830px) {
	  .card{
	    img{
			top: -38px;
	    }
	  }
	}
	@media (max-width: 1829px) and (min-width: 1670px) {
		.card{
			img{
				top: -33px;
			}
		}
	}
	@media (max-width: 1669px) and (min-width: 1550px) {
		.card{
			img{
				top: -31px;
			}
		}
	}
	@media (max-width: 1550px) and (min-width: 900px) {
		.card{
			max-width: 85%;
		}
	}
	@media (max-width: 1549px) and (min-width: 1450px){
		.card{
			img{
				top: -39px;
			}
		}
	}
	@media (max-width: 1449px) and (min-width: 1200px){
		.card{
			img{
				top: -35px;
			}
		}
	}
	@media (max-width: 1199px) and (min-width: 1080px){
		.card{
			img{
				top: -32px;
			}
		}
	}
	@media (max-width: 1079px) and (min-width: 1000px){
		.card{
			max-width: 95%;
			img{
				top: -33px;
			}
		}
	}
	@media (max-width: 999px) and (min-width: 900px){
		.card{
			max-width: 95%;
			img{
				top: -31px;
			}
		}
	}
	@media (max-width: 899px) and (min-width: 768px) {
		.card{
			max-width: 100%;
			img{
				top: -27px;
			}
		}
	}
	@media (max-width: 767px) and (min-width: 700px){
		.card{
			max-width: 80%;
			img{
				top: -39px;
			}
		}
	}
	@media (max-width: 699px) and (min-width: 640px){
		.card{
			max-width: 80%;
			img{
				top: -35px;
			}
		}
	}
	@media (max-width: 639px) and (min-width: 610px){
		.card{
			max-width: 95%;
			img{
				top: -39px;
			}
		}
	}
	@media (max-width: 609px) and (min-width: 580px){
		.card{
			max-width: 95%;
			img{
				top: -37px;
			}
		}
	}
	@media (max-width: 579px) and (min-width: 540px){
		.card{
			max-width: 95%;
			img{
				top: -35px;
			}
		}
	}
	@media (max-width: 539px) and (min-width: 480px){
		.card{
			max-width: 95%;
			img{
				top: -31px;
			}
		}
	}
	@media (max-width: 479px) and (min-width: 421px){
		.card{
			max-width: 90%;
			img{
				top: -26px;
			}
		}
	}
	@media (max-width: 420px) and (min-width: 375px){
		.card{
			max-width: 90%;
			img{
				top: -24px;
			}
		}
	}
	@media (max-width: 374px){
		.card{
			max-width: 90%;
			img{
				top: -22px;
			}
		}
	}
}

.content{
	padding-bottom: 0px;
	/*top: 190px;*/
	
	.container{
		.card{
		  	/*max-width: 65%;*/
		  	margin: 0 auto;
			border: 4px solid #cad6d7;
			background-color: #eaefee;
			box-shadow: 0px 60px 100px -50px #333;
			-moz-box-shadow: 0px 60px 100px -50px #333;
			-webkit-box-shadow: 0px 60px 100px -50px #333;
			border-radius: 20px;
			transition: transform .2s;
			position: relative;
			top: 50px;
			margin-bottom: 50px;

			img{
				width: 70%;
			    margin: 0 auto;
			    position: relative;
			}

		    .card-body{
		      	text-align: center;
		      	margin-top: -30px;

		      	select[multiple] option, select[size] option{
		      		padding: 12px 10px;
		      	}

		      	.form-check-label{
					margin-right: 20px;
				}

				.custom-checkbox{
					.custom-control-label::before,.custom-control-label::after{
						right: -1.5rem;
				    	left: 0;
					}
				}
		    }
		}
	}
	@media (min-width: 1830px) {
	  .card{
	    img{
			top: -38px;
	    }
	  }
	}
	@media (max-width: 1829px) and (min-width: 1200px) {
		.card{
			img{
				top: -37px;
			}
		}
	}
	@media (max-width: 1199px) and (min-width: 1000px){
		.card{
			img{
				top: -32px;
			}
		}
	}
	@media (max-width: 999px) and (min-width: 768px){
		.card{
			img{
				top: -24px;
			}
		}
	}
	@media (max-width: 767px) and (min-width: 700px){
		.card{
			img{
				top: -35px;
			}
		}
	}
	@media (max-width: 699px) and (min-width: 540px){
		.card{
			img{
				top: -35px;
			}
		}
	}
	@media (max-width: 539px) and (min-width: 480px){
		.card{
			img{
				top: -30px;
			}
		}
	}
	@media (max-width: 479px) and (min-width: 421px){
		.card{
			img{
				top: -27px;
			}
		}
	}
	@media (max-width: 420px) and (min-width: 375px){
		.card{
			max-width: 90%;
			img{
				top: -23px;
			}
		}
	}
	@media (max-width: 374px){
		.card{
			img{
				top: -22px;
			}
		}
	}

}