<div class="content">
	<div class="container">
		<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="col-md-6">
				<div class="card">
					<img src="./assets/images/2.png" alt="">
					<div class="card-body">
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">الأسم</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="name" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">اللقب</label>
		                	<div class="col-md-8">
								<select class="form-control" formControlName="nickname" >
									<option selected></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">الوظيفة</label>
		                	<div class="col-md-8">
								<select class="form-control" formControlName="job" >
									<option selected></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">جوال 1 - اتصال</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="phone1" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">جوال 2 - واتس</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="phone2" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">البريد اﻷلكتروني</label>
		                	<div class="col-md-8">
								<input type="email" class="form-control" formControlName="email" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">اسم المستخدم</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="userName" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">كلمة السر</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="password" />
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card pt-5 pb-5">
					<div class="card-body mt-1">
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">الفصل الدراسي</label>
		                	<div class="col-md-8">
								<select class="form-control" formControlName="term" >
									<option selected>الفصل اﻷول - 2019/2018</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label" for="">حالة الحساب</label>
		                	<div class="col-md-8">
								<input type="text" class="form-control" formControlName="status" />
							</div>
						</div>
						<div class="form-group row">
		                	<label class="col-md-4 col-form-label">الفصول</label>
		                	<div class="col-md-8">
								<select class="form-control" [size]="5" formControlName="class" >
									<option>KG2 - D</option>
									<option selected>KG2 - E</option>
									<option>KG2 - F</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="custom-control custom-checkbox mb-3 mt-3">
									<input class="custom-control-input" type="checkbox" id="add_evaluation" value="add_evaluation" formControlName="add_evaluation">
									<label class="custom-control-label" for="add_evaluation">إضافة تقييم</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="delete_evaluation" value="delete_evaluation" formControlName="delete_evaluation">
									<label class="custom-control-label" for="delete_evaluation">حذف تقييم</label>
								</div>
							</div>
							<div class="col-6">
								<div class="custom-control custom-checkbox mb-3 mt-3">
									<input class="custom-control-input" type="checkbox" id="add_data" formControlName="add_data">
									<label class="custom-control-label" for="add_data">إدخال بيانات التقييم</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="edit_data" formControlName="edit_data">
									<label class="custom-control-label" for="edit_data">تعديل بيانات التقييم</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-11 text-left ">
				<button class="btn btn-primary btn-lg" type="submit">حفـظ</button>
			</div>
		</form>
	</div>
</div>