<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <app-card color="warning" [data]='level1' title="المناطق الجغرافية"></app-card>
      </div>
      <div class="col-md-3 col-xs-6">
        <app-card color="primary" [data]='level2' title="المدن"></app-card>
      </div>
      <div class="col-md-3 col-xs-6">
        <app-card color="success" [data]='level3' title="الفصول الدراسية"></app-card> 
      </div>
      <div class="col-md-3 col-xs-6">
        <app-card color="info" [data]='level3' title="الحالة الراهنة للتقييمات"></app-card> 
      </div>
    </div>
  </div>
</div>