<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <app-card2 color="warning" [data]='level1' title="المناطق الجغرافية"></app-card2>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card2 color="primary" [data]='level2' title="المدن"></app-card2>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card2 color="success" [data]='level3' title="الفصول الدراسية"></app-card2> 
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card2 color="info" [data]='level3' title="الحالة الراهنة للتقييمات"></app-card2> 
      </div>
    </div>
  </div>
</div>