<div class="card">
	<img src="{{img}}" class="card-img" />
	<div class="card-body" [ngClass]="img ? '' : 'mt-5'">
		<div class="form-group">
			<select class="form-control">
				<option selected>المدارس اﻷهلية</option>
				<option value="1">المدارس اﻷهلية</option>
				<option value="2">المدارس اﻷهلية</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control">
				<option selected>منطقة الرياض</option>
				<option value="1">منطقة الرياض</option>
				<option value="2">منطقة الرياض</option>
			</select>
		</div>
		<div class="form-group">
			<select (change)="handleChange($event)" class="form-control">
				<option selected>المدارس المشتركة بالفعل</option>
				<option value="1">المدارس المشتركة بالفعل</option>
				<option value="2">المدارس المشتركة بالفعل</option>
			</select>
		</div>
		<div>
			<label for="">المدارس</label>
			<select class="form-control" size="7">
				<option selected>مدارس المنارات</option>
				<option value="1">مدارس المملكة</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
				<option value="2">مدارس الرياض</option>
			</select>
		</div>

		<div class="text-left card-footer">
	    	<button class="btn btn-success ml-2" type="button">
	        	<i class="fa fa-fw fa-plus"></i>
		    </button>
		    <button class="btn btn-primary ml-2" type="button">
	        	<i class="fa fa-fw fa-edit"></i>
		    </button>
		    <button class="btn btn-danger" type="button">
		        	<i class="fa fa-fw fa-close"></i>
		    </button>
	    </div>
	</div>
</div>	