<div class="card">
	<img src="{{img}}" class="card-img" />
	<div class="card-body" [ngClass]="img ? '' : 'mt-5'">
		<div class="form-group">
			<select (change)="handleChange('level1', $event)" class="form-control" [(ngModel)]="selectedLevel1">
				<option value="">كل المدارس</option>
				<option *ngFor="let item of level1; index as i" value="{{item.id}}">{{item.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<select (change)="handleChange('level2', $event)" class="form-control" [(ngModel)]="selectedLevel2">
				<option value="">كل المدارس</option>
				<option *ngFor="let item of level2; index as i" value="{{item.id}}">{{item.name}}</option>
			</select>
		</div>
		<div class="form-group">
		 	<select (change)="handleChange('level3', $event)" class="form-control" [(ngModel)]="selectedLevel3">
				<option value="">كل المدارس</option>
				<option *ngFor="let item of level3; index as i" value="{{item.id}}">{{item.name}}</option>
			</select>
		</div>
		<div class="form-group">
		   <input type="text" class="form-control" placeholder="بحث باﻷسم" [(ngModel)]="searchName" />
	    </div>
		<div>
			<label for="">المدارس</label>
			<select class="form-control" size="7">
				<option (click)="itemClicked(item)" *ngFor="let item of result | filter: searchName; index as i" value="{{i}}">{{item.name}}</option>
			</select>
		</div>

		<div class="text-left card-footer">
	    	<button *ngIf="add" class="btn btn-success ml-2" (click)="addClicked()" type="button">
				<i class="fa fa-fw fa-plus"></i>
			</button>
	    	<button *ngIf="!add" class="btn btn-success ml-2" (click)="addSchool()" type="button">
	        	<i class="fa fa-fw fa-save"></i> 
		    </button>
		    <button *ngIf="edit" class="btn btn-primary ml-2" (click)="editClicked()" type="button">
				<i class="fa fa-fw fa-edit"></i>
			</button>
		    <button *ngIf="!edit" class="btn btn-primary ml-2" (click)="editSchool(item)" type="button">
	        	<i class="fa fa-fw fa-save"></i>
		    </button>
		    <button class="btn btn-danger" (click)="deleteSchool(item)" type="button">
		        	<i class="fa fa-fw fa-close"></i>
		    </button>
	    </div>
	</div>
</div>	