<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<app-class-filter img="./assets/images/evaluations.png"></app-class-filter>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-body mt-4">
						<div class="form-group">
							<label>فلتر مكونات المنهج</label>
							<select class="form-control" (change)="handleLevel1Change($event)">
								<option selected>وحدات المستوي اﻷول</option>
								<option value="1">وحدات المستوي اﻷول</option>
								<option value="2">وحدات المستوي اﻷول</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control" (change)="handleLevel2Change($event)">
								<option selected>وحدات المستوي الثاني</option>
								<option value="1">وحدات المستوي الثاني</option>
								<option value="2">وحدات المستوي الثاني</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control" (change)="handleLevel3Change($event)">
								<option selected>وحدات المستوي الثالث</option>
								<option value="1">وحدات المستوي الثالث</option>
								<option value="2">وحدات المستوي الثالث</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control" (change)="handleLevel4Change($event)">
								<option selected>وحدات المستوي الرابع</option>
								<option value="1">وحدات المستوي الرابع</option>
								<option value="2">وحدات المستوي الرابع</option>
							</select>
						</div>
						<div>
							<label for="result">التقييمات</label>
							<select id="result" class="form-control" size="4">
								<option selected>تقييم الوحدة اﻷولي (روضتي-المستوي الثاني-قبلي)</option>
								<option>تققثي الوحدة اﻷولي (روضتي-المستوي الثاني-بعدي)</option>
							</select>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary float-right" (click)="addToClass()">إضافة للفصل</button>
							<button class="btn btn-primary float-left" (click)="addToHome()" >إضافة للمنزل</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-body mt-4">
						<div class="form-group row">
		                	<label class="col-sm-4 col-form-label" for="">الفصل الدراسي</label>
		                	<div class="col-sm-8">
								<select class="form-control" name="term" >
									<option selected>الفصل اﻷول - 2019/2018</option>
								</select>
							</div>
						</div>
						<div class="form-group">
		                	<label >التقييمات المختارة للفصل</label>
							<textarea class="form-control" rows="5"></textarea>
						</div>
						<div class="form-group">
		                	<label>التقييمات المختارة للمنزل</label>
							<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-left">
				<button class="btn btn-success btn-lg mt-4" type="submit">حفـظ</button>
			</div>
		</div>
	</div>
</div> 