.bg{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/assets/images/login2.jpg");
	background-position: center;
	/*height:100vh;*/
}
.cover{
	box-shadow: none;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px 20px 0px 20px;
	height: 100%
}
.signin-content {
  	margin: 40% 0;

	mat-card {
		max-width: 100%;
		margin: 2em auto;
		text-align: center;
		/*background-color: transparent;*/

		mat-card-title{
			font-size: 2.5em;
			border-bottom: 1px solid #ddd;
			margin: 1em 0;
    		padding-bottom: .5em;
    		/*color: #fff;*/
		}
		.mat-card-content{
			font-size: 16px;

			.full-width-input {
				width: 100%;
			}
			mat-form-field{
				margin-bottom: 2em;

				mat-error{
					margin-top: 1em;
				}
			}
			mat-raised-button{
				margin-top: 3em;
			}
			a{
				text-decoration: underline;
			}
		}
		.mat-card-content>:first-child{
			margin: 2em 0;
		}

	}
}
