<!-- <div class="fixed-action-btn">
  <a class="btn-floating bg-danger">
    <i id="menu" class="fa fa-bars fa-2x"></i>
  </a>
  <ul>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="بيانات التقييم" routerLink="/teacher/evaluation-data" class="btn-floating bg-primary">
        <i class="fa fa-book fa-2x"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="تعريف التقييمات" routerLink="/teacher/evaluations" class="btn-floating bg-success">
        <i class="fa fa-star-half-o fa-2x"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="الصلاب" routerLink="/teacher/students" class="btn-floating bg-danger">
        <i class="fa fa-users fa-2x"></i>
      </a>
    </li>
    <li>
      <a data-toggle="tooltip" data-placement="left" title="البيانات الشخصية" routerLink="/teacher/profile" class="btn-floating bg-info">
        <i class="fa fa-edit fa-2x"></i>
      </a>
    </li>
  </ul>
</div> -->


<nav class="navbar navbar-expand-lg navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img style="border-radius: 50%; width: 60; height: 60px;" src="./assets/images/profile.png" alt=""> heba <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a (click)="logout()" >خروج</a></li>
      </ul>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/teacher/evaluation-data">بيانات التقييم <i class="fa fa-book"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/teacher/evaluations">تعريف التقييمات <i class="fa fa-star-half-o"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/teacher/students">الطلاب <i class="fa fa-users"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/teacher/profile">البيانات الشخصية <i class="fa fa-edit"></i></a>
      </li>
    </ul>    
  </div>
</nav>



<div id="sidebar-wrapper">
  <div class="user-img">
    <img src="./assets/images/profile.png" />
    <p>طارق ابوسيف</p>
  </div>

  <ul class="sidebar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/teacher/profile">
        <i class="fa fa-edit fa-2x"></i>
        البيانات الشخصية
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/teacher/students">
        <i class="fa fa-users fa-2x"></i>
        الطلاب
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/teacher/evaluations">
        <i class="fa fa-star-half-o fa-2x"></i>
        تعريف التقييمات
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/teacher/evaluation-data">
        <i class="fa fa-book fa-2x"></i>
        بيانات التقييم
      </a>
    </li>
  </ul>
</div>
