<div class="card-content">
	<div [class]="'card text-white '+ className" [ngClass]="color? 'bg-'+color : 'bg-warning'">
	  	<div class="hexa"></div>
		<div class="title">
			<h2 [ngClass]="color? 'text-'+color : 'bg-warning'">{{title}}</h2>
			<!-- <hr /> -->
		</div>
	  	<div class="card-body">
			<ul class="list-group">
				<li class="list-group-item" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of data; index as i">{{item}}</li>
			</ul>
	    </div>
	</div>
    <div class="card-footer text-left">
		<div class="input-group">
	      <input type="text" class="form-control text-right" [disabled]="show" placeholder="{{data[0]}}">
	    </div>
	    <div class="input-group">
	      <input type="text" class="form-control text-right" [disabled]="show" placeholder="الوزن النسبي %">
	      <span class="input-group-btn">
	        <button [ngClass]="show ? 'btn-primary' : ' btn-info' " class="btn" (click)="handleChanges()" type="button">
	        	<i [ngClass]="show ? ' fa-edit' : '  fa-save' "  class="fa"></i>
	        </button>
	      </span>
	    </div>
	    <button class="btn btn-danger" type="button">
	        	<i class="fa fa-close"></i>
	    </button>
    	<button class="btn btn-success" type="button">
        	<i class="fa fa-plus"></i>
	    </button>
    </div>
</div>
