<div class="content">
	<div class="container-fluid">
			<div class="row">
				<h2 class="col-12">تعريف حسابات اﻷطفال</h2>
			</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<app-students-filter title="اختيار الطفل" (itemClicked)="studentClicked($event)" [data]="studentsArr" img="./assets/images/students.png"></app-students-filter>
			</div>
			<div class="col-lg-8">
				<form class="row" [formGroup]="form">
					<div class="col-lg-6 col-md-6">
						<div class="card">
							<div class="card-body mt-5">
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الأسم</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="name" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">اللقب</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="nickname" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">ولي اﻷمر</label>
				                	<div class="col-md-8">
										<!-- <input type="text" class="form-control mb-1" placeholder="بحث باﻷسم" [(ngModel)]="searchName" /> -->
										<select class="form-control" formControlName="parent">
											<option value="">اختر عنصر</option>
											<option *ngFor="let parent of parentsArr | filter: searchName " [value]="parent.id">{{ parent.name }}</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">تاريخ الميلاد</label>
				                	<div class="col-md-8">
										<input type="date" class="form-control" formControlName="birthday" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الجنسية</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="nationality" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">النوع</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="gender" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">بيان إضافي</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="extraInfoOne" />
									</div>
								</div>
							</div>					
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="card">
							<div class="card-body mt-3">
								<div class="col-sm-12 text-center">
									<img id="img" src="./assets/images/profile.png" class="img-responsive mb-3 ml-2" />
									<label class="custom-file-upload">
										<input type="file" accept="image/*" (change)="changeListener($event)" />
										<i class="fa fa-cloud-upload"></i> تغيير
									</label>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الفصل الدراسي</label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="term">
											<option value="">اختر عنصر</option>
											<option *ngFor="let term of terms" [value]="term?.id">{{ term?.name }}</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">حالة الحساب</label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="accountStatus">
											<option value="active">نشط</option>
											<option value="inActive">غير نشط</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الفصل </label>
				                	<div class="col-md-8">
										<select class="form-control" formControlName="class" >
											<option value="">اختر عنصر</option>
											<option *ngFor="let class of classesArr" [value]="class.id">{{ class.name }}</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">اسم المستخدم</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="username" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">كلمة السر</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" formControlName="password" />
									</div>
								</div>
								<div class="card-footer text-left mt-3">
									<button *ngIf="!add" class="btn btn-success ml-2" (click)="addClicked()" type="button">
										<i class="fa fa-fw fa-plus"></i>
									</button>
									<button *ngIf="add" class="btn btn-success ml-2" (click)="addStudent()" type="button">
										<i class="fa fa-fw fa-save"></i> 
									</button>
									<button *ngIf="!edit" class="btn btn-primary ml-2" (click)="editClicked()" type="button">
										<i class="fa fa-fw fa-edit"></i>
									</button>
									<button *ngIf="edit" class="btn btn-primary ml-2" (click)="editStudent()" type="button">
										<i class="fa fa-fw fa-save"></i>
									</button>
									<button class="btn btn-danger" (click)="deleteStudent()" type="button">
										<i class="fa fa-fw fa-close"></i>
									</button>
								</div>					
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>