$color : #0eb6e2;
.content{
	.container-fluid{
		.card{
		  	margin: 0 auto;
			border: 4px solid #cad6d7;
			background-color: #eaefee;
			box-shadow: 0px 60px 100px -50px #333;
			-moz-box-shadow: 0px 60px 100px -50px #333;
			-webkit-box-shadow: 0px 60px 100px -50px #333;
			border-radius: 20px;
			transition: transform .2s;
			position: relative;
			top: 50px;
			margin-bottom: 50px;
			min-height: 613px;

			.card-img{
				width: 70%;
			    margin: 0 auto;
			    position: relative;
			}

		    .card-body{
		      	text-align: right;
		      	margin-top: -30px;

		      	.data{
		      		.form-group{
		      			margin-bottom: 0.2rem;
		      			input{
			      			line-height: 1;
			      		}
		      		}
		      	}
				
				.list-group{
					padding-right: 0px;
					overflow-y: scroll;
					max-height: 170px;
					background: #fafafa;
					font-size: 16px;
					border: 1px solid $color;
					margin-bottom: 0px;

					.list-group-item{
						padding: 0px;
						/*border: 0px;*/
						margin-bottom: 0px;
						background: transparent;

						input{
							border: 0px;
							border-radius: 0;
							height: 32px;
							margin-bottom: 2px;
							background: transparent;
						}
						select{
							width: 96%;
							margin: 5px auto;
						}
					}
				}
		      	.content-list{
					padding: 10px;
					overflow-y: scroll;
					max-height: 180px;
					background: #fafafa;
					font-size: 14px;
					border: 1px solid $color;

					ul{
						margin-top: 5px;
						margin-top: 5px;
					}
				}
				.content-list::-webkit-scrollbar, .list-group::-webkit-scrollbar {
					width: 0.5em;
					border-right: 1px solid $color;
					background: white;
				}
				.content-list::-webkit-scrollbar-thumb, .list-group::-webkit-scrollbar-thumb {
					background-color: $color;
					outline: 1px solid $color;
				}
		    }
		  }
		@media (min-width: 1830px) {
		  .card{
		    .card-img{
				top: -27px;
		    }
		  }
		}
		@media (max-width: 1829px) and (min-width: 1720px) {
			.card{
				.card-img{
					top: -25px;
				}
			}
		}
		@media (max-width: 1719px) and (min-width: 1670px) {
			.card{
				.card-img{
					top: -23px;
				}
			}
		}
		@media (max-width: 1669px) and (min-width: 1550px) {
			.card{
				.card-img{
					top: -22px;
				}
			}
		}
		@media (max-width: 1549px) and (min-width: 1500px){
			.card{
				.card-img{
					top: -21px;
				}
			}
		}
		@media (max-width: 1499px) and (min-width: 1450px){
			.card{
				.card-img{
					top: -24px;
				}
			}
		}
		@media (max-width: 1449px) and (min-width: 1380px){
			.card{
				.card-img{
					top: -23px;
				}
			}
		}
		@media (max-width: 1379px) and (min-width: 1280px){
			.card{
				.card-img{
					top: -22px;
				}
			}
		}
		@media (max-width: 1279px) and (min-width: 1180px){
			.card{
				.card-img{
					top: -21px;
				}
			}
		}
		@media (max-width: 1179px) and (min-width: 1080px){
			.card{
				.card-img{
					top: -19px;
				}
			}
		}
		@media (max-width: 1079px) and (min-width: 995px){
			.card{
				.card-img{
					top: -18px;
				}
			}
		}
		@media (max-width: 994px) and (min-width: 970px){
			.card{
				.card-img{
					top: -25px;
				}
			}
		}
		@media (max-width: 969px) and (min-width: 890px){
			.card{
				.card-img{
					top: -23px;
				}
			}
		}
		@media (max-width: 889px) and (min-width: 850px) {
			.card{
				.card-img{
					top: -22px;
				}
			}
		}
		@media (max-width: 849px) and (min-width: 768px) {
			.card{
				.card-img{
					top: -21px;
				}
			}
		}
		@media (max-width: 767px) and (min-width: 725px){
			.card{
				width: 80%;
				.card-img{
					top: -30px;
				}
			}
		}
		@media (max-width: 724px) and (min-width: 660px){
			.card{
				width: 80%;
				.card-img{
					top: -29px;
				}
			}
		}
		@media (max-width: 659px) and (min-width: 610px){
			.card{
				max-width: 90%;
				.card-img{
					top: -28px;
				}
			}
		}
		@media (max-width: 609px) and (min-width: 580px){
			.card{
				max-width: 90%;
				.card-img{
					top: -27px;
				}
			}
		}
		@media (max-width: 579px) and (min-width: 540px){
			.card{
				.card-img{
					top: -28px;
				}
			}
		}
		@media (max-width: 539px) and (min-width: 480px){
			.card{
				.card-img{
					top: -25px;
				}
			}
		}
		@media (max-width: 479px) and (min-width: 450px){
			.card{
				.card-img{
					top: -24px;
				}
			}
		}
		@media (max-width: 449px) and (min-width: 425px){
			.card{
				.card-img{
					top: -22px;
				}
			}
		}
		@media (max-width: 424px) and (min-width: 395px){
			.card{
				.card-img{
					top: -20px;
				}
			}
		}
		@media (max-width: 394px){
			.card{
				.card-img{
					top: -19px;
				}
			}
		}
	}
}