<div class="content">
  <div class="container-fluid">
    <div class="row">
      <h2 class="col-12">بيانات المدرسة</h2>
      <div class="col-12 mt-2">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="true">البيانات اﻷساسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-class-tab" data-toggle="pill" href="#pills-class" role="tab" aria-controls="pills-class" aria-selected="false">الفصـول</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
            <form [formGroup]="form" (ngSubmit)="updateSchoolData()" class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img class="card-img" src="./assets/images/data.png" alt="">
                    <div class="card-body">
                      <div id="school-data">
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">اسم المدرسة</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="schoolName"/>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">الشركة اﻷم</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="motherComp"/>
                          </div>
                        </div>
                        <!-- <h6>بيانات المدرسة</h6> -->
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">المنطقة</label>
                          <div class="col-md-7">
                            <select class="form-control" (change)="getCities($event)" formControlName="geo">
                                <option value="">اختر عنصر</option>
                              <option *ngFor="let geo of geoArray" [value]="geo.id">{{ geo.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">المدينة</label>
                          <div class="col-md-7">
                            <select class="form-control" formControlName="city">
                              <option value="">اختر عنصر</option>
                              <option *ngFor="let city of citiesArray" [value]="city.id">{{ city.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">الحي</label>
                          <div class="col-md-7">
                            <input type="text" formControlName="district" class="form-control" placeholder="الحي">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">إجمالي عدد الطلاب</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="studentsNum" placeholder="إجمالي عدد الطلاب">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">عدد الفصول الدراسية</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="classesNum" placeholder="عدد الفصول الدراسية">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">السنة الدراسية اﻷدني</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="lowestStudyYear" placeholder="السنة الدراسية اﻷدني">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-5 col-form-label">السنة الدراسية اﻷعلي</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="highestStudyYear" placeholder="السنة الدراسية اﻷعلي">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body mt-3">
                    <div class="form-group">
                      <label>الفصل الدراسي</label>
                      <select class="form-control" (change)="handleStudyYearChange($event.target.value)" formControlName="studyYears">
                        <option value="">اختر عنصر</option>
                        <option *ngFor="let term of terms" [value]="term?.id">{{ term?.name }}</option>
                      </select>
                    </div>
                    <div>
                      <h6 class="mt-4">بيانات الإتصال</h6>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="email" placeholder="الموفع اﻹلكتروني">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="address" placeholder="العنوان">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="gps" placeholder="GPS الموقع">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="phone" placeholder="التلفون">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="fax" placeholder="الفاكس">
                        </li>
                      </ul>
                    </div>
                    <div class="mt-3">
                      <h6>بيانات الرخصة</h6>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="lstudentsNum" placeholder="عدد الطلاب" disabled>
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="lclassesNum" placeholder="عدد الفصول" disabled>
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="lteachersNum" placeholder="عدد المعلمات" disabled>
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" formControlName="ladminsNum" placeholder="عدد اﻷدمن" disabled>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body mt-3">
                    <div class="data">
                      <h5 class="mb-3 text-center">بيانات المسئول (المدير)</h5>
                      <ul class="list-group">
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">الأسم</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="adminName" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">الوظيفة</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="adminJob" >
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">جوال 1 - اتصال</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="adminPhone" />
                            </div>
                          </div>
                        </li>
                        <li>
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label">جوال 2 - واتس</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="adminWhatsApp" />
                          </div>
                        </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">البريد اﻷلكتروني</label>
                            <div class="col-md-8">
                              <input type="email" class="form-control" formControlName="adminEmail" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">اسم المستخدم</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="adminUsername" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">كلمة السر</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="adminPassword" />
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="data">
                      <h5 class="mb-3 mt-3 text-center">بيانات اﻷدمن الرئيسي</h5>
                      <ul class="list-group">
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">الأسم</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="nahjAdminName" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">الوظيفة</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="nahjAdminJob" >
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">جوال 1 - اتصال</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="nahjAdminPhone" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">جوال 2 - واتس</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="nahjAdminWhatsApp" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">البريد اﻷلكتروني</label>
                            <div class="col-md-8">
                              <input type="email" class="form-control" formControlName="nahjAdminEmail" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">اسم المستخدم</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="nahjAdminUsername" />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">كلمة السر</label>
                            <div class="col-md-8">
                              <input type="text" class="form-control" formControlName="nahjAdminPassword" />
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>     
                  </div>
                </div>
              </div>
              <div class="col-12 text-left">
                <button type="submit" class="btn btn-primary btn-lg mt-3">حفــظ</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-class" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <app-level-card [data]='studyLevel1' componentType="studyLevel1" (listItems)="listStudyLevelOne($event.value)" (deleteButton)="deleteStudyLevelOne($event)" (saveButton)="addStudyLevelOne($event)" title="المستوي اﻷول" img="./assets/images/class.png"></app-level-card>
              </div>
              <div class="col-lg-4 col-md-6">
                <app-level-card [data]='studyLevel2' componentType="studyLevel2" (listItems)="listStudyLevelTwo($event.value)" (deleteButton)="deleteStudyLevelTwo($event)" (saveButton)="addStudyLevelTwo($event)" title="المستوي الثاني"></app-level-card>
              </div>
              <div class="col-lg-4 col-md-6">
                <app-level-card [data]='studyLevel3' componentType="studyLevel3" (listItems)="listStudyLevelThree($event.value)" (deleteButton)="deleteStudyLevelThree($event)" (saveButton)="addStudyLevelThree($event)" title="المستوي الثالث (الفصول)"></app-level-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>