<div class="content">
  <div class="container-fluid">
    <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">البانات اﻷساسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">الفصـول</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img class="card-img" src="./assets/images/students.png" alt="">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="">اسم المدرسة</label>
                        <input type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label for="">الشركة اﻷم</label>
                        <input type="text" class="form-control" />
                      </div>
                      <div>
                        <h6>بيانات المدرسة</h6>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <select class="form-control m-2">
                              <option value="">المنطقة</option>
                            </select>
                          </li>
                          <li class="list-group-item">
                            <select class="form-control m-2">
                              <option value="">المدينة</option>
                            </select>
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="الحي">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="إجمالي عدد الطلاب">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="عدد الفصول الدراسية">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="السنة الدراسية اﻷدني">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="السنة الدراسية اﻷعلي">
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6 class="mt-4">بيانات الإتصال</h6>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="الموفع اﻹلكتروني">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="العنوان">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="GPS الموقع">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="التلفون">
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="الفاكس">
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body mt-3">
                    <div class="data">
                      <h5 class="mb-3 text-center">بيانات المسئول (المدير)</h5>
                      <!-- <div>
                        <label for="">بيانات المدرسة</label>
                        <ul class="list-group">
                          <li class="list-group-item">
                                <input type="text" class="form-control" formControlName="manager_name" placeholder="الأسم" />
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" formControlName="manager_job" placeholder="الوظيفة" />
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" formControlName="manager_phone1" placeholder="جوال 1 - اتصال" />
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" formControlName="manager_phone2" placeholder="جوال 2 - واتس" />
                          </li>
                          <li class="list-group-item">
                            <input type="email" class="form-control" formControlName="manager_email" placeholder="البريد اﻷلكتروني" />
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" formControlName="manager_userName" placeholder="اسم المستخدم" />
                          </li>
                          <li class="list-group-item">
                            <input type="text" class="form-control" formControlName="manager_password" placeholder="كلمة السر" />
                          </li>
                        </ul>
                      </div> -->
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">الأسم</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="manager_name" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">الوظيفة</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="manager_job" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">جوال 1 - اتصال</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="manager_phone1" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">جوال 2 - واتس</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="manager_phone2" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">البريد اﻷلكتروني</label>
                        <div class="col-md-8">
                          <input type="email" class="form-control" formControlName="manager_email" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">اسم المستخدم</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="manager_userName" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">كلمة السر</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="manager_password" />
                        </div>
                      </div>
                    </div>
                    <div class="data">
                      <h5 class="mb-3 mt-3 text-center">بيانات اﻷدمن الرئيسي</h5>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">الأسم</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="admin_name" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">الوظيفة</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="admin_job" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">جوال 1 - اتصال</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="admin_phone1" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">جوال 2 - واتس</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="admin_phone2" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">البريد اﻷلكتروني</label>
                        <div class="col-md-8">
                          <input type="email" class="form-control" formControlName="admin_email" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">اسم المستخدم</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="admin_userName" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="">كلمة السر</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="admin_password" />
                        </div>
                      </div>
                    </div>     
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body mt-3">
                    <div class="form-group">
                      <label for="">الفصل الدراسي</label>
                      <select class="form-control" formControlName="term">
                        <option value="">الفصل الأول 2018\2019</option>
                      </select>
                    </div>
                    <div class="mt-3">
                      <h6>بيانات الرخصة</h6>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <input type="text" class="form-control" placeholder="عدد الطلاب">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" placeholder="عدد الفصول">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" placeholder="عدد المعلمات">
                        </li>
                        <li class="list-group-item">
                          <input type="text" class="form-control" placeholder="عدد اﻷدمن">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 text-left">
                <button type="submit" class="btn btn-primary btn-lg">حفــظ</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <app-card-list [data]='level1' img="./assets/images/students.png" title="المستوي اﻷول"></app-card-list>
              </div>
              <div class="col-lg-4 col-md-6">
                <app-card-list [data]='level1' title="المستوي الثاني"></app-card-list>
              </div>
              <div class="col-lg-4 col-md-6">
                <app-card-list [data]='level1' title="المستوي الثالث (الفصول)"></app-card-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>