<div class="content">
	<div class="container-fluid">
		<div class="row">
			<h2 class="col-12">تعريف حسابات المعلمة</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<app-students-filter title="اختيار المعلمة" img="./assets/images/teacher.png"></app-students-filter>
			</div>
			<div class="col-lg-8">
				<form class="row" (ngSubmit)="onSubmit()">
					<div class="col-lg-6 col-md-6">
						<div class="card">
							<div class="card-body mt-5">
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الأسم</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" name="name" [(ngModel)]="name" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">اللقب</label>
				                	<div class="col-md-8">
										<select class="form-control" name="nickname" [(ngModel)]="nickname" >
											<option selected></option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الوظيفة</label>
				                	<div class="col-md-8">
										<select class="form-control" name="job" [(ngModel)]="job" >
											<option selected></option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">جوال 1 - اتصال</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" [(ngModel)]="phone" name="phone" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">جوال 2 - واتس</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" name="whatsApp" [(ngModel)]="whatsApp" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">البريد اﻷلكتروني</label>
				                	<div class="col-md-8">
										<input type="email" class="form-control" name="email" [(ngModel)]="email" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">اسم المستخدم</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" name="username" [(ngModel)]="username" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">كلمة السر</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" name="password" [(ngModel)]="password" />
									</div>
								</div>						
							</div>					
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="card">
							<div class="card-body mt-5">
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الفصل الدراسي</label>
				                	<div class="col-md-8">
										<select class="form-control" name="term" [(ngModel)]="term" >
											<option selected>الفصل اﻷول - 2019/2018</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">حالة الحساب</label>
				                	<div class="col-md-8">
										<input type="text" class="form-control" name="status" [(ngModel)]="status" />
									</div>
								</div>
								<div class="form-group row">
				                	<label class="col-md-4 col-form-label">الفصول</label>
				                	<div class="col-md-8">
										<select class="form-control" size="3" name="class" [(ngModel)]="class" >
											<option>KG2 - D</option>
											<option selected>KG2 - E</option>
											<option>KG2 - F</option>
										</select>
										<br>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">add New Class</button>
									</div>
								</div>

								
								<div class="card-footer text-left mt-3">
									<button class="btn btn-primary" type="button"><i class="fa fa-save fa-fw"></i></button>
									<button class="btn btn-danger mr-2" type="button"><i class="fa fa-close fa-fw"></i></button>
									<button class="btn btn-success mr-2" type="button"><i class="fa fa-plus fa-fw"></i></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <select (change)="handleStudyLevelChange('studyLevel1', $event)" class="form-control" >
              <option>اختر عنصر</option>
              <option *ngFor="let item of studyLevel1; index as i" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <select (change)="handleStudyLevelChange('studyLevel2', $event)" class="form-control" >
              <option>اختر عنصر</option>
              <option *ngFor="let item of studyLevel2; index as i" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <select (change)="handleStudyLevelChange('studyLevel3', $event)" class="form-control" >
              <option>اختر عنصر</option>
              <option *ngFor="let item of studyLevel3; index as i" value="{{item.id}}">{{item.name}}</option>
            </select>
					</div>
					
					<div class="row text-right">
						<div class="col-6">
							<div class="custom-control custom-checkbox mb-3 mt-3">
								<input class="custom-control-input" type="checkbox" id="add_evaluation" name="add_evaluation" [(ngModel)]="add_evaluation">
								<label class="custom-control-label" for="add_evaluation">إضافة تقييم</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="delete_evaluation" name="delete_evaluation" [(ngModel)]="delete_evaluation">
								<label class="custom-control-label" for="delete_evaluation">حذف تقييم</label>
							</div>
						</div>
						<div class="col-6">
							<div class="custom-control custom-checkbox mb-3 mt-3">
								<input class="custom-control-input" type="checkbox" id="add_data" name="add_data" [(ngModel)]="add_data">
								<label class="custom-control-label" for="add_data">إدخال بيانات التقييم</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="edit_data" name="edit_data" [(ngModel)]="edit_data">
								<label class="custom-control-label" for="edit_data">تعديل بيانات التقييم</label>
							</div>
						</div>
					</div>
					
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-primary" id="save" (click)="addClass()" >Save</button>
        </div>
      </div>
    </div>
</div>