<div class="content">
	<div class="container-fluid">
		<div class="row">
			<h2 class="col-12">تعريف حسابات المعلمة</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<app-students-filter title="اختيار المعلمة" (itemClicked)="teacherClicked($event)" [data]="teachersArr" img="./assets/images/teacher.png"></app-students-filter>
			</div>
			<div class="col-lg-4 col-md-6">
				<form [formGroup]="form">
					<div class="card">
						<div class="card-body mt-5">
							<div class="form-group row">
								<label class="col-md-4 col-form-label">الأسم</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="name" formControlName="name" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">اللقب</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="title" formControlName="title" />
									<!-- <select class="form-control" name="title" formControlName="title" >
										<option selected></option>
									</select> -->
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">الوظيفة</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="job" formControlName="job" />
									<!-- <select class="form-control" name="job" formControlName="job" >
										<option selected></option>
									</select> -->
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">جوال 1 - اتصال</label>
								<div class="col-md-8">
									<input type="text" class="form-control" formControlName="phone" name="phone" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">جوال 2 - واتس</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="whatsApp" formControlName="whatsApp" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">البريد اﻷلكتروني</label>
								<div class="col-md-8">
									<input type="email" class="form-control" name="email" formControlName="email" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">اسم المستخدم</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="username" formControlName="username" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">كلمة السر</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="password" formControlName="password" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4 col-md-6">
				<form [formGroup]="licenseForm">
					<div class="card">
						<div class="card-body mt-5">
							<div class="form-group row">
								<label class="col-md-4 col-form-label">الفصل الدراسي</label>
								<div class="col-md-8">
									<select class="form-control" (change)="handleStudyYearChange($event.target.value)" formControlName="term">
										<option value="">اختر عنصر</option>
										<option *ngFor="let term of terms" [value]="term?.id">{{ term?.name }}</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">حالة الحساب</label>
								<div class="col-md-8">
									<select class="form-control" formControlName="accountStatus">
										<option value="active">نشط</option>
										<option value="inActive">غير نشط</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 col-form-label">الفصول</label>
								<div class="col-md-8">
									<select class="form-control" size="3" name="tclass">
										<option *ngFor="let teacherClass of teacherClasses" [value]="teacherClass.id">{{teacherClass.name}}</option>
									</select>
									<br>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#classModal">add License Class</button>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#licenseModal">add Teacher License</button>
								</div>
							</div>
							<!-- <div class="row text-right">
								<div class="col-6">
									<div class="custom-control custom-checkbox mb-3 mt-3">
										<input class="custom-control-input" type="checkbox" id="canAddEval" name="canAddEval" formControlName="canAddEval">
										<label class="custom-control-label" for="canAddEval">إضافة تقييم</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" type="checkbox" id="canDeleteEval" name="canDeleteEval" formControlName="canDeleteEval">
										<label class="custom-control-label" for="canDeleteEval">حذف تقييم</label>
									</div>
								</div>
								<div class="col-6">
									<div class="custom-control custom-checkbox mb-3 mt-3">
										<input class="custom-control-input" type="checkbox" id="canEnterEval" name="canEnterEval" formControlName="canEnterEval">
										<label class="custom-control-label" for="canEnterEval">إدخال بيانات التقييم</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" type="checkbox" id="canEditEval" name="canEditEval" formControlName="canEditEval">
										<label class="custom-control-label" for="canEditEval">تعديل بيانات التقييم</label>
									</div>
								</div>
							</div> -->

							<div class="card-footer text-left mt-3">
								<div class="mb-2">
									<button *ngIf="!addLicense" class="btn btn-success ml-2" (click)="addLicenseClicked()" type="button">
										<i class="fa fa-fw fa-plus"></i>
									</button>
									<button *ngIf="addLicense" class="btn btn-success ml-2" (click)="addTeacherLicense()" type="button">
										<i class="fa fa-fw fa-save"></i>
									</button>
									<!-- <button *ngIf="!editLicense" class="btn btn-primary ml-2" (click)="editLicenseClicked()" type="button">
										<i class="fa fa-fw fa-edit"></i>
									</button>
									<button *ngIf="editLicense" class="btn btn-primary ml-2" (click)="editTeacherLicense()" type="button">
										<i class="fa fa-fw fa-save"></i>
									</button> -->
									<button class="btn btn-danger" (click)="deleteTeacherLicense()" type="button">
										<i class="fa fa-fw fa-close"></i>
									</button>
								</div>
								<div>
									<button *ngIf="!add" class="btn btn-success ml-2" (click)="addClicked()" type="button">
										<i class="fa fa-fw fa-plus"></i>
									</button>
									<button *ngIf="add" class="btn btn-success ml-2" (click)="addTeacher()" type="button">
										<i class="fa fa-fw fa-save"></i>
									</button>
									<button *ngIf="!edit" class="btn btn-primary ml-2" (click)="editClicked()" type="button">
										<i class="fa fa-fw fa-edit"></i>
									</button>
									<button *ngIf="edit" class="btn btn-primary ml-2" (click)="editTeacher()" type="button">
										<i class="fa fa-fw fa-save"></i>
									</button>
									<button class="btn btn-danger" (click)="deleteTeacher()" type="button">
										<i class="fa fa-fw fa-close"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>




<!-- Modal to add license term to teacher -->
<div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="licenseModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Teacher License</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="teacherLicenseForm">
					<div class="form-group">
						<select class="form-control" formControlName="licenseClass">
							<option>اختر عنصر</option>
							<option *ngFor="let lclass of licenseClasses" value="{{lclass.id}}">{{lclass.class.name}}</option>
						</select>
					</div>
					<div class="row text-right">
						<div class="col-6">
							<div class="custom-control custom-checkbox mb-3 mt-3">
								<input class="custom-control-input" type="checkbox" id="canAddEval" name="canAddEval" formControlName="canAddEval">
								<label class="custom-control-label" for="canAddEval">إضافة تقييم</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="canDeleteEval" name="canDeleteEval" formControlName="canDeleteEval">
								<label class="custom-control-label" for="canDeleteEval">حذف تقييم</label>
							</div>
						</div>
						<div class="col-6">
							<div class="custom-control custom-checkbox mb-3 mt-3">
								<input class="custom-control-input" type="checkbox" id="canEnterEval" name="canEnterEval" formControlName="canEnterEval">
								<label class="custom-control-label" for="canEnterEval">إدخال بيانات التقييم</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="canEditEval" name="canEditEval" formControlName="canEditEval">
								<label class="custom-control-label" for="canEditEval">تعديل بيانات التقييم</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="addLicenseClassToTeacher()">Save</button>
				<button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal to add license class -->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="classModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">License Class</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form [formGroup]="licenseClassForm">
						<div class="form-group">
							<select (change)="handleStudyLevelChange('studyLevel1', $event)" class="form-control" formControlName="studyLevel1">
								<option>اختر عنصر</option>
								<option *ngFor="let item of studyLevel1" value="{{item.id}}">{{item.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<select (change)="handleStudyLevelChange('studyLevel2', $event)" class="form-control" formControlName="studyLevel2">
								<option>اختر عنصر</option>
								<option *ngFor="let item of studyLevel2" value="{{item.id}}">{{item.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<select (change)="handleStudyLevelChange('studyLevel3', $event)" class="form-control" formControlName="studyLevel3">
								<option>اختر عنصر</option>
								<option *ngFor="let item of studyLevel3" value="{{item.id}}">{{item.name}}</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" (click)="addLicenseClass()">Save</button>
					<button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
