<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-right">
        <h4>فلتر تقسيمات المدارس</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <app-school-filter [title]="title"></app-school-filter>
      </div>
      <div class="col-md-9 col-sm-10">
        <div class="data text-right">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="schoolName">اسم المدرسة</label>
                <input type="text" name="schoolName" class="form-control" />
              </div>
              <div class="form-group">
                <label for="companyName">الشركة اﻷم</label>
                <input type="text" name="companyName" class="form-control" />
              </div>

              <h4>الموقع في التقسيم الشجري</h4>
              <div class="form-group">
                <select class="form-control">
                  <option selected>المدارس اﻷهلية</option>
                  <option value="1">المدارس اﻷهلية</option>
                  <option value="2">المدارس اﻷهلية</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control">
                  <option selected>منطقة الرياض</option>
                  <option value="1">منطقة الرياض</option>
                  <option value="2">منطقة الرياض</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control">
                  <option selected>المدارس المشتركة بالفعل</option>
                  <option value="1">المدارس المشتركة بالفعل</option>
                  <option value="2">المدارس المشتركة بالفعل</option>
                </select>
              </div>

              <h4>الموقع في التقسيم الشجري</h4>
              <div>
                <label for="">المدارس</label>
                <select class="form-control" size="5">
                  <option>الموفع اﻹلكتروني</option>
                  <option>العنوان</option>
                  <option>GPS الموقع</option>
                  <option>التلفون</option>
                  <option>الفاكس</option>
                  <option>الفاكس</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">بيانات المدرسة</label>
                <select class="form-control">
                  <option selected>المنطقة</option>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control">
                  <option selected>المدينة</option>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" size="5">
                  <option>الحي</option>
                  <option>إجمالي عدد الطلاب</option>
                  <option>عدد الفصول الدراسية</option>
                  <option>السنة الدرااسية اﻷدني</option>
                  <option>السنة الدرااسية اﻷعلي</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">بيانات المسئول</label>
                <select class="form-control" size="7">
                  <option>اﻷسم</option>
                  <option>الوظيفة</option>
                  <option>الجوال</option>
                  <option>جوال الواتس اب</option>
                  <option>اﻹيميل</option>
                  <option>اسم المستخدم</option>
                  <option>كلمة السر</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">الفصل الدراسي</label>
                <select class="form-control">
                  <option selected>اﻷول 2018 / 2019</option>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label>بيانات الرخصة</label>
                <select class="form-control" size="4">
                  <option>عدد الطلاب</option>
                  <option>عدد الفصول</option>
                  <option>عدد المدرسات/ المشرفات</option>
                  <option>عدد اﻷدمن</option>
                </select>
              </div>
              <div class="form-group">
                <label>المحتوي المرخص</label>
                <select class="form-control" size="3">
                  <option>عدد الطلاب</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">بيانات اﻷدمن الرئيسي</label>
                <select class="form-control" size="7">
                  <option>اﻷسم</option>
                  <option>الوظيفة</option>
                  <option>الجوال</option>
                  <option>جوال الواتس اب</option>
                  <option>اﻹيميل</option>
                  <option>اسم المستخدم</option>
                  <option>كلمة السر</option>
                  <option>كلمة السر</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>