$color : #0eb6e2;
.data{
	border: 1px solid $color;
	height: auto;
	padding: 10px;

	select[size]{
		background: #fafafa;
	}

	.list-group{
		padding-right: 0px;
		overflow-y: scroll;
		max-height: 170px;
		background: #fafafa;
		font-size: 16px;
		border: 1px solid $color;
		margin-bottom: 0px;

		.list-group-item{
			padding: 0px;
			/*border: 0px;*/
			margin-bottom: 0px;
			background: transparent;

			input{
				border: 0px;
				border-radius: 0;
				height: 32px;
				margin-bottom: 2px;
				background: transparent;
			}
		}
	}
	.content-list{
		padding: 10px;
		overflow-y: scroll;
		max-height: 180px;
		background: #fafafa;
		font-size: 14px;
		border: 1px solid $color;

		ul{
			margin-top: 5px;
			margin-top: 5px;
		}
	}
	.content-list::-webkit-scrollbar, .list-group::-webkit-scrollbar {
		width: 0.5em;
		border-right: 1px solid $color;
		background: white;
	}
	.content-list::-webkit-scrollbar-thumb, .list-group::-webkit-scrollbar-thumb {
		background-color: $color;
		outline: 1px solid $color;
	}
}