<div class="card">
	<img [src]="img" class="card-img" />
	<div class="card-body" [ngClass]="img ? '' : 'mt-5'">
		<h4 class="text-center card-title">{{title}}</h4>
		<div class="form-group row">
			<label class="col-md-4 col-form-label" for="">المستوي اﻷول</label>
			<div class="col-md-8">
				<select class="form-control" (change)="handleLevel1Change($event.target.value)">
					<option selected>فصول الأولاد</option>
					<option>فصول البنات</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-4 col-form-label" for="">المستوي الثاني</label>
			<div class="col-md-8">
				<select class="form-control" (change)="handleLevel2Change($event.target.value)">
					<option selected>KG2 - D</option>
					<option>KG2 - E</option>
					<option>KG2 - F</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-4 col-form-label" for="">المستوي الثالث</label>
			<div class="col-md-8">
				<select class="form-control" (change)="handleLevel3Change($event.target.value)">
					<option selected>الجميع</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="بحث باﻷسم" [(ngModel)]="searchText" />
		</div>
		<div>
			<select class="form-control" size="4">
				<option (click)="handleItemClicked(parent)" *ngFor="let parent of data" [value]="parent.id">{{parent.title}}</option>
			</select>
		</div>
	</div>
</div>