<div class="content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="col-md-12">التقسيم الشجري لمكونات المنهج</h4>
      <div class="col-lg-3 col-sm-6">
        <app-level-card-list [data]='level1' img="./assets/images/level1.png"></app-level-card-list>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-level-card-list [data]='level2' img="./assets/images/level2.png"></app-level-card-list>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-level-card-list [data]='level3' img="./assets/images/level3.png"></app-level-card-list> 
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-level-card-list [data]='level3' img="./assets/images/level4.png"></app-level-card-list> 
      </div>
    </div>
  </div>
</div>