<div class="card">
	<img src="{{img}}" class="card-img" />
	<div class="card-body" [ngClass]="img ? '' : 'mt-5'">
		<h4 class="text-center card-title">{{title}}</h4>
		<ul class="list-group">
			<li class="list-group-item" [ngClass]="{'active': selectedItem == item.name}" (click)="listClick($event,type, item)" *ngFor="let item of data; index as i">{{item.name}}</li>
		</ul>
		<div class="card-footer text-left">
			<div class="input-group mb-2">
		    	<input type="text" class="form-control text-right" [disabled]="show" #inputVal1 [(ngModel)]="newValue">
		    </div>
		    <div class="input-group mb-2">
		      	<input type="number" class="form-control text-right" [disabled]="show" #inputVal2 [(ngModel)]="parcentage" placeholder="الوزن النسبي %">
		      	<span class="input-group-btn">
					<button *ngIf="show" class="btn btn-primary" (click)="handleChanges()" type="button">
						<i class="fa fa-edit"></i>
					</button>
					<button *ngIf="!show" class="btn btn-info" (click)="saveChanges(type, inputVal1.value, inputVal2.value)" type="button">
						<i  class="fa fa-save"></i>
					</button>
				</span>
		    </div>
		
			<button class="btn btn-danger mr-2" type="button" (click)="deleteItem(type)"><i class="fa fa-close fa-fw"></i></button>
			<button class="btn btn-success mr-2" type="button" (click)="addItem(type)"><i class="fa fa-plus fa-fw"></i></button>
		</div>
	</div>
</div>