@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$color : #0eb6e2;
$lightBlue : #99e9fd;
@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/GE_Flow_Regular.otf);
}

html {
  height: 100%;
  margin: 0;
}
body{
	background-image: url("/assets/images/bg.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
  height: 100%;
  font-family: myFirstFont;
}

.content{
  position: absolute;
  top: 280px;
  z-index: 111;
  width: 80%;
  left: 5%;
  /*padding-top: 30px;*/
  text-align: right;
  h2{
    font-size: 2.2rem;
    color: #333;
  }
}
select[multiple], select[size]{
  font-size: 18px;
  padding: 0;
  border: 1px solid $color;
  border-radius: 0;

  option{
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
}
select::-webkit-scrollbar {
  width: 0.4em;
  border-right: 1px solid $color;
  background: white;
}
 
select::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
}
 
select::-webkit-scrollbar-thumb {
  background-color: $color;
  outline: 1px solid $color;
}
select[multiple], select[size]{
  font-size: 16px;
  padding: 0;
  border: 1px solid $color;
  overflow-y: scroll;
  // max-height: 120px;

  option{
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
  }
  option:hover {
      color: white;
      background: linear-gradient(0deg, $color 0%, $color 100%);
      background: -moz-linear-gradient(0deg, $color 0%, $color 100%);
      background: -webkit-linear-gradient(0deg, $color 0%, $color 100%);
  }
  option:checked{ 
    box-shadow: 0 0 10px 100px $lightBlue inset;
    -moz-box-shadow: 0 0 10px 100px $lightBlue inset;
    -webkit-box-shadow: 0 0 10px 100px $lightBlue inset;
  }
  /*option:checked {
      background: linear-gradient(0deg, $lightBlue 0%, $lightBlue 100%);
      background: -moz-linear-gradient(0deg, $lightBlue 0%, $lightBlue 100%);
      background: -webkit-gradient(0deg, $lightBlue 0%, $lightBlue 100%);

  }*/
}

label{
  font-size: 16px;
}

@media (max-width: 1730px) {
  .content{
    top: 225px;
  }
}
@media (max-width: 1500px) {
  .content{
    top: 175px;
  }
}


@media (max-width: 1500px) and (min-width: 1300px) {
  body{
    background-image: none;
    background-color: #beebed;

    .content {
      background-image: url("/assets/images/5.png");
      background-color: #fff;
      background-size: cover;
      width: 95%;
      top: 250px;
      margin: 50px auto;
      border-radius: 20px;
      padding-top: 10px;
      padding-bottom: 50px;
      left: 2.5%;
    }
  }
}
@media (max-width: 1299px){
  body{
    background-image: none;
    background-color: #beebed;

    .content{
      background-image: url("/assets/images/5.png");
      background-color: #fff;
      background-size: cover;
      width: 95%;
      top: 200px;
      margin: 50px auto;
      border-radius: 20px;
      padding-top: 10px;
      padding-bottom: 50px;
      left: 2.5%;
    }
  }
}