<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <app-level-card color="warning" [data]='level1' title="المستوي اﻷول"></app-level-card>
      </div>
      <div class="col-md-3 col-sm-6">
        <app-level-card color="primary" [data]='level2' title="المستوي الثاني"></app-level-card>
      </div>
      <div class="col-md-3 col-sm-6">
        <app-level-card color="success" [data]='level3' title="المستوي الثالث"></app-level-card> 
      </div>
      <div class="col-md-3 col-sm-6">
        <app-level-card color="info" [data]='level3' title="المستوي الرابع"></app-level-card> 
      </div>
    </div>
  </div>
</div>