<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card-list img="./assets/images/region.png" [data]='level1'></app-card-list>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card-list img="./assets/images/city.png" [data]='level2'></app-card-list>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card-list img="./assets/images/img3.png" [data]='level3'></app-card-list> 
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-card-list img="./assets/images/evaluation_status.png" [data]='level3'></app-card-list> 
      </div>
    </div>
  </div>
</div>